.demo-container{
    display: flex;
    height: 500px;
    align-items: flex-start;
    .terminal-container{
        display: flex;
        flex: 1;
        .demo-selector{
            padding: 10px;
            padding-top: 40px;
            .nav-link{
                cursor: pointer;
            }
            .demo-item{
                margin: 10px;
            }
        }
    }
    .demo-showcase{
        flex: 1;
        margin-left: 50px;
    }
}

.demo{
    margin-top: -200%;
    position: relative;
    opacity: 0;
    transition: opacity 0.5s;
    &.active{
        margin-top: 0;
        opacity: 1.0;
    }
    &.hide{
        opacity: 0;
    }
}