.fake-terminal{

    cursor: default;
    user-select: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 3px 3px 10px #000;
    .hljs {
        /* force bg transparent for hljs */
        background: transparent;
    }
    .terminal-header{
       display: flex;
       background-color: #000;
       align-items: center;
       justify-content: flex-end;
       opacity: 0.8;
       .terminal-btn{
        margin: 3px 5px;
       }
    }
    .terminal-code{
        font-family: 'Courier New', Courier, monospace;
        padding-left: 20px;
        width: 500px;
        background-color: #0e0e0e;
    }    
}