body {
  background-color: #212121;
  color: #fff;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.nav {
  flex: 1;
  height: 100vh;
  position: relative;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

header .logo {
  margin-left: 50px;
  display: flex;
  align-items: center;
}

header .logo img {
  height: 40px;
}

header .logo h1 {
  font-size: 1.5rem;
}
